$bgColor: rgb(236, 239, 240);
$fontColor: rgb(50, 50, 50);
$headerLine: 5.6rem;

.content {
    background-color: $bgColor;
    color: $fontColor;
    width: 100%;
    min-width: 60rem;
    .content-img {
        padding-top: $headerLine;
        height: 30rem;
        background-image: url("/images/230912_4.jpg");
        background-size: cover;
        background-color: darken($bgColor, 10%);
        h1 {
            text-align: center;
            line-height: 30rem - $headerLine;
        }
    }
    .content-wrapper {
        width: 90%;
        height: 150rem;
        max-width: 100rem;
        margin: 0 auto;
        text-align: center;
    }
}