<header>
    <div class="header-wrapper">
        <div class="header-left">
            <p>PORTFOLIO</p>
        </div>
        <div class="header-right">
            <button class="btn-works">WORKS</button>
            <nav>
                <ul>
                    <li><a href="/app1">memo_app</a></li>
                    <li><a href="/playground">playground</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>