<header>
    <div class="header-wrapper">
        <div class="header-left">
            <button onclick="location.href='/'">
                <i class="fa-solid fa-house"></i>
            </button>
        </div>
        <div class="header-right">
            <div class="header-works">
                <button class="btn-works">WORKS</button>
                <nav>
                    <ul>
                        <li><a href="/app1">memo_app</a></li>
                        <li><a href="/playground">playground</a></li>
                    </ul>
                </nav>    
            </div>
            <div class="header-github">
                <button onclick="location.href='https://github.com/M-Yusei1001'">
                    <i class="fa-brands fa-github"></i>
                    <a>GitHub</a>
                </button>
            </div>
        </div>
    </div>
</header>
<script>
    const btn = document.querySelector('.btn-works');
    const nav = document.querySelector('nav');

    btn.addEventListener('click', () => {
        nav.classList.toggle('open-menu');
    });
</script>