<header>
    <div class="header-wrapper">
        <div class="header-left">
            <p>PORTFOLIO</p>
        </div>
        <div class="header-right">
            <li><a href="">ABOUT</a></li>
            <li><a href="/app1">WORKS</a></li>
        </div>
    </div>
</header>