<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hello!</title>
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/hello_stylesheet.css">
    </head>

    <body>
        <div class="content">
            <header>
                <div class="header-wrapper">
                    <p>Portfolio</p>
                </div>
            </header>
            <div class="content-wrapper">
                <h1>Portfolio</h1>
            </div>
        </div>
       
    </body>
</html>