<!DOCTYPE html>
<html>
  <head>
    <title>ToDoリスト</title>
    <link rel="stylesheet" href="/css/memo_app_stylesheet.css">
  </head>

  <body>
    <h1>ToDoリスト</h1>
    <form action="/create" method="post">
      くだもの：
      <input type="text" name="itemName" />
      <button type="submit">追加</button>
    </form>
    
    <ul class="table">
      <% items.forEach((item) => { %>
        <li>
          <div class="itemData">
            <form action="/delete/<%= item.id %>" method="post">
              <%= item.fruits %>
              <button type="submit">削除</button>
            </form>
          </div>
        </li>
      <% }) %>
    </ul>

  </body>
</html>
