<!DOCTYPE html>
<html>
  <head>
    <title>ToDoリスト</title>
    <link rel="stylesheet" href="/css/memo_app_stylesheet.css">
  </head>

  <body>
    <h1>ToDoリスト</h1>
    <input type="text" id="taskInput" placeholder="タスクを入力">
    <button id="addButton">追加</button>
    <ul id="taskList">
      </ul>
    <script src="/script/memo_app_script.js"></script>
  </body>
</html>
