<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hello!</title>
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/top.css">
    </head>

    <body>
        <div class="content">
            <%- include("header") %>
            <div class="content-img">
                <h1>PORTFOLIO</h1>
            </div>
            <div class="content-wrapper">

            </div>
        </div>
       
    </body>
</html>