<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>WebApp</title>
        <link rel="stylesheet" href="/css/top_stylesheet.css">
    </head>

    <body>
        <div class = "header">
            <div class = "header-base">
                <div class = "header-left">
                    WebApp PlayGround
                </div>
                <div class = "header-right">
                    <a href="/app1">memo_app</a>
                    <a href="">APP 2</a>
                </div>
            </div>
        </div>

    </body>
</html>